* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column-reverse;
 gap: 20px;
  font-family: monospace;
}

.container{
  height: 200px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding: 10px 20px;
}
form h1{
  padding: 5px 0;
}
input{
  width: 100%;
  padding: 7px 3px;
  margin: 5px 0;
  border-radius: 3px;
  border: 1px solid #555;
}
.btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: red;
  padding: 7px 0;
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
  border-radius: 5px;
}
#colorBox{
  height: 100px;
  width: 100px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background: #ffffff;
  border-radius: 5px;
}